<h1>Wired's list of top 100 Star Trek Crewmen</h1>
<ul>
  <li><a href='http://memory-alpha.wikia.com/wiki/Lon_Suder'>100. Crewman Lon Suder (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Alexander_Marcus_(alternate_reality)'>99. Admiral Alexander Marcus (KTL)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Marla_McGivers'>98. Lieutenant Marla McGivers (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Gary_Mitchell'>97. Lt. Commander Gary Mitchell (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Elizabeth_Dehner'>96. Dr. Elizabeth Dehner (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Matthew_Decker'>95. Commodore Matthew Decker (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Ben_Maxwell'>94. Captain Ben Maxwell (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Kes'>93. Kes (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Cartwright'>92. Fleet Admiral Cartwright (TUC)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Valeris'>91. Lieutenant Valeris (TUC)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Luther_Sloan'>90. Luther Sloan (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Bruce_Maddox'>89. Commander Bruce Maddox (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Phillipa_Louvois'>88. Captain Phillipa Louvois (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Taurik'>87. Ensign Taurik (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Sito_Jaxa'>86. Ensign Sito Jaxa (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Jose_Tyler'>85. Lieutenant José Tyler (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Michael_Rostov'>84. Crewman Michael Rostov (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Elizabeth_Cutler'>83. Crewman Elizabeth Cutler (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Walsh'>82. Ensign Walsh (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Tanner'>81. Ensign Tanner (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Sam_Lavelle'>80. Lieutenant Sam Lavelle (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Samantha_Wildman'>79. Ensign Samantha Wildman (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Kyle'>78. Commander Kyle (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Michael_Eddington'>77. Lt. Commander Michael Eddington (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Nakamura'>76. Vice Admiral Nakamura (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Rudy_Ransom'>75. Captain Rudy Ransom (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Mark_Piper'>74. Dr. Mark Piper (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Chef_(Enterprise_NX-01)'>73. Chef (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Melora_Pazlar'>72. Ensign Melora Pazlar (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Robin_Lefler'>71. Ensign Robin Lefler (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Janice_Rand'>70. Yeoman Janice Rand (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Gregory_Quinn'>69. Rear Admiral Gregory Quinn (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Edward_Jellico'>68. Captain Edward Jellico (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Jack_Crusher'>67. Lt. Commander Jack Crusher (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Philip_Boyce'>66. Dr. Philip Boyce (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/M%27Ress'>65. Lieutenant M’Ress (TAS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Selar'>64. Dr. Selar (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Alyssa_Ogawa'>63. Nurse Alyssa Ogawa (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Neelix'>62. Neelix (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/'>61. Lieutenant Arex (TAS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Christine_Chapel'>60. Nurse Christine Chapel (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Clark_Terrell'>59. Captain Clark Terrell (TWK)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Robert_April'>58. Captain Robert April (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Number_One'>57. Number One (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Elizabeth_Shelby'>56. Commander Elizabeth Shelby (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Reginald_Barclay'>55. Lieutenant Reginald Barclay (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Ro_Laren'>54. Ensign Ro Laren (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Tim_Watters'>53. Cadet Tim Watters (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Erika_Hernandez'>52. Captain Erika Hernandez (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Nog'>51. Lieutenant Nog (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Willard_Decker'>50. Captain Willard Decker (TMP)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Ilia'>49. Lieutenant Ilia (TMP)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Saavik'>48. Lieutenant Saavik (TWK)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Richard_Robau'>47. Captain Richard Robau (KTL)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/John_Harriman'>46. Captain John Harriman (STG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Rachel_Garrett'>45. Captain Rachel Garrett (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Demora_Sulu'>44. Lieutenant Demora Sulu (STG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Owen_Paris'>43. Admiral Owen Paris (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Maxwell_Forrest'>42. Admiral Maxwell Forrest (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/William_Ross'>41. Admiral William Ross (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Phlox'>40. Chief Medical Officer Phlox (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Katherine_Pulaski'>39. Dr. Katherine Pulaski (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/George_Kirk'>38. Lt. Commander George Kirk (KTL)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Seven_of_Nine'>37. Seven of Nine (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Tasha_Yar'>36. Lt. Commander Tasha Yar (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Christopher_Pike'>35. Captain Christopher Pike (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Harry_Kim'>34. Ensign Harry Kim (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Travis_Mayweather'>33. Ensign Travis Mayweather (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Ezri_Dax'>32. Lieutenant Ezri Dax (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Wesley_Crusher'>31. Ensign Wesley Crusher (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Pavel_Chekov'>30. Commander Pavel Chekov (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Malcom_Reed'>29. Lieutenant Malcolm Reed (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/B%27Elanna_Torres'>28. Lieutenant B’Elanna Torres (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Hoshi_Sato'>27. Lt. Commander Hoshi Sato (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Tom_Paris'>26. Lieutenant Tom Paris (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Julian_Bashir'>25. Dr. Julian Bashir (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Deanna_Troi'>24. Counsellor Deanna Troi (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Charles_Tucker_III'>23. Commander Charles Tucker III (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Jadzia_Dax'>22. Lt. Commander Jadzia Dax (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Geordi_LaForge'>21. Chief Engineer Geordi LaForge (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Beverly_Crusher'>20. Dr. Beverly Crusher (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Montgomery_Scott'>19. Chief Engineer Montgomery Scott (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Hikaru_Sulu'>18. Captain Hikaru Sulu (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Miles_O%27Brien'>17. Chief Miles O’Brien (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Emergency_Medical_Hologram'>16. Emergency Medical Hologram Joe (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Odo'>15. Constable Odo (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Nyota_Uhura'>14. Commander Nyota Uhura (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Worf'>13. Lt. Commander Worf (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Data'>12. Lt. Commander Data (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Chakotay'>11. Commander Chakotay (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/T%27Pol'>10. Commander T’Pol (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Jonathan_Archer'>9. Captain Jonathan Archer (ENT)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Kathryn_Janeway'>8. Captain Kathryn Janeway (VOY)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Kira_Nerys'>7. Colonel Kira Nerys (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/William_T._Riker'>6. Commander William Riker (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Leonard_McCoy'>5. Dr. Leonard “Bones” McCoy (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Spock'>4. Captain Spock (TOS)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Jean-Luc_Picard'>3. Captain Jean-Luc Picard (TNG)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/Benjamin_Sisko'>2. Captain Benjamin Sisko (DS9)</a></li>
  <li><a href='http://memory-alpha.wikia.com/wiki/James_T._Kirk'>1. Captain James T. Kirk (TOS)</a></li>
</ul>
